.navbar {
    margin-bottom: 0;
    background-color: #f6cd4cff;     
}
.logobox {
    background-color: #f58f8fff;
    font-family: cursive;
    font-weight: bold;
    color: white;
}
.pagetext{
    padding-top: 20px;
    font-size: 80px;
    color: #f58f8fff;
    font-weight: bold;
    padding-left: 120px;
    font-family: cursive;
}
.bartext{
    background-color: #f6cd4cff; 
    padding-top: 20px;
    font-size: 80px;
    color:white;
    font-weight: bold;
    padding-left: 120px; 
    font-family: cursive;
}
.customizetext{
    font-family: cursive;
    font-size: 30px;
    color: #f58f8fff;
    font-weight: bold;
    padding-left: 20px;
}
.btn {
    background-color: #f6cd4cff;
    color: white;
    width: 150px;
}
footer {
    background-color:#f2f2f2;
    padding: 25px;
}
.nav-option {
    font-family: Verdana;
    font-weight: bold;
    color: black;
}
.logo {
    border: 8px solid #f6cd4cff;
    border-radius: 30%;
    width: 150px;
}
.nav {
    border: 6px solid #f6cd4cff;
    border-radius: 20%;
    width: 80px;
    height: 75px;
}
.navcontainer {
    padding-top: 55px;
    padding-left: 60px;
}
.logocontainer {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 70px;
}
.logincontainer {
    padding-top: 65px;
    padding-left: 90px;
}
.webname {
    padding-top: 20px;
    font-size: 80px;
    color:#f6cd4cff;
    font-weight: bold;
    padding-left: 220px;
}
.picrow {
    padding-left: 50px;
    padding-right: 50px;
}
.adpic {
    height: 180px;
}
.recipepic {
    border-radius: 5%;
}
.filterbtn {
    font-size: 20px;
    font-weight: bold;
    background-color: #f6cd4cff; 
    color: white;
}
.submitbtn {
    
    font-size: 20px;
    font-weight: bold;
    background-color: #f58f8fff; 
    color: white;
}
.recipetitle {
    font-size: 20px;
    font-weight: bold;
    color: rgb(228, 176, 6); 
}