<br>
<h1 class="subtitle-text">My Shopping List</h1>

<table class="tab table table-borderless">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ingredient</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit</th>
            <th scope="col">Done</th>
        </tr>
    </thead>

    <tbody *ngFor="let item of ingredient_list; let key=index;">
        <tr>
            <th scope="row">{{ key + 1 }}</th>
            <td>{{ item.name }}</td>
            <td>{{ item.count }}</td>
            <td>{{ item.unit }}</td>
            <td>
                <input type="checkbox">
            </td>
        </tr>
    </tbody>

</table>