<br>
<h1 class="subtitle-text">My Recipe List</h1>

<table class="tab table table-borderless">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Recipe</th>
            <th scope="col"></th>
            <th scope="col">Quantity</th>
            <th scope="col">Done</th>
        </tr>
    </thead>

    <tbody *ngFor="let item of myrecipes; let key=index;">
        <tr>
            <th scope="row">{{ key + 1 }}</th>
            <td>{{ item.name }}</td>
            <td>
                <a [routerLink]="['.', item.recipe_id]">
                    <img src="{{item.photo}}" class="img-responsive recipe-pic" alt="Image">
                </a>
            </td>
            <td>1</td>
            <td>
                <input type="checkbox">
            </td>
        </tr>
    </tbody>
</table>