<div class="row">

    <div class="col-1"></div>

    <div class="col-9">

        <br>
        <h1 class="page-text">{{recipe.name}}</h1>

        <br>

        <div class="row">
            <div class="col-5">
                <div class="text-center">
                    <img src="{{recipe.photo}}">
                </div>
            </div>
            <div class="col"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <label class="filter-label" *ngIf="recipe.meal_type && recipe.meal_type !== 'None'">{{recipe.meal_type}}</label>
                    </div>
                    <div class="col">
                        <label class="filter-label" *ngIf="recipe.cuisine_type && recipe.cuisine_type !== 'None'">{{recipe.cuisine_type}}</label>
                    </div>
                    <div class="col">
                        <label class="filter-label" *ngIf="recipe.feature_type && recipe.feature_type !== 'None'">{{recipe.feature_type}}</label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label class="value-label">Serves group {{recipe.group}}</label>
                    </div>
                    <div class="col">
                        <label class="value-label">Budget &lt; ${{recipe.cost}}</label>
                    </div>
                    <div class="col">
                        <label class="value-label" *ngIf="recipe.recipe_tags && recipe.recipe_tags[0] !== 'None'">Recipe tag {{recipe.recipe_tags[0]}}</label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label class="alert-label text-left warning" *ngIf="recipe.restrictions">Contains: {{recipe.restrictions}}</label>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-9">
                <h1 class="subtitle-text">Cooking steps</h1>
                <hr>
                <table class="tab table table-borderless">
                    <tbody *ngFor="let item of recipe.steps; let key=index;">
                        <tr>
                            <th scope="row">step {{ key + 1 }}</th>
                            <td>{{ item.step }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <hr>
            <div class="col-9">
                <hr>
                <h1 class="subtitle-text">Ingredients</h1>
                <hr>
                <table class="tab table table-borderless">
                    <tbody *ngFor="let item of recipe.ingredients; let key=index;">
                        <tr>
                            <th scope="row">{{ key + 1 }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.count }}</td>
                            <td>{{ item.unit }}</td>
                        </tr>
                    </tbody>
        
                </table>

            </div>

        </div>

        <hr><br>

    </div>

    <div class="col-2">
        <app-ads></app-ads>
    </div>
          
</div>
