<div class="row">

    <div class="col-2" *ngIf="hasAds">
        <app-ads></app-ads>
    </div>

    <div class="col">

        <br>
        <h1 class="page-text">{{recipe.name}}</h1>

        <br>

        <div class="row">
            <div class="col-5">
                <div class="text-center">
                    <img src="{{recipe.photo}}">
                </div>
            </div>
            <div class="col"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <label class="filter-label" *ngIf="recipe.meal_type && recipe.meal_type !== 'None'">{{recipe.meal_type}}</label>
                    </div>
                    <div class="col">
                        <label class="filter-label" *ngIf="recipe.cuisine_type && recipe.cuisine_type !== 'None'">{{recipe.cuisine_type}}</label>
                    </div>
                    <div class="col">
                        <label class="filter-label" *ngIf="recipe.feature_type && recipe.feature_type !== 'None'">{{recipe.feature_type}}</label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label class="value-label">Serves <br> {{recipe.group}}</label>
                    </div>
                    <div class="col">
                        <label class="value-label">Budget <br> &lt; ${{recipe.cost}}</label>
                    </div>
                    <div class="col">
                        <label class="value-label" *ngIf="recipe.recipe_tags && recipe.recipe_tags[0] !== 'None'">Recipe tag {{recipe.recipe_tags[0]}}</label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <label class="alert-label text-left warning" *ngIf="recipe.restrictions">Contains (food allergy): {{recipe.restrictions}}</label>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-9">
                <h1 class="subtitle-text">Cooking steps</h1>
                <hr>
                <table class="tab table table-borderless">
                    <tbody *ngFor="let item of recipe.steps; let key=index;">
                        <tr>
                            <th scope="row">step {{ key + 1 }}</th>
                            <td>{{ item.step }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <hr>
            <div class="col-9">
                <hr>
                <h1 class="subtitle-text">Ingredients</h1>
                <hr>
                <table class="tab table table-borderless">
                    <tbody *ngFor="let item of recipe.ingredients; let key=index;">
                        <tr>
                            <th scope="row">{{ key + 1 }}</th>
                            <td>{{ item.name }}</td>
                            <td>{{ item.count }}</td>
                            <td>{{ item.unit }}</td>
                        </tr>
                    </tbody>
        
                </table>

            </div>

        </div>

        <hr><br>

        <button type="button" class="btn btn-block" *ngIf="isMember" [routerLink]="['./edit']">Edit Recipe</button>
        
        <div *ngIf="!isMember">
            <h3>If there are wrong tags/labels, feel free to report!</h3>
        </div>
        <div class="form-group" *ngIf="!isMember">
            <label for="groupSize" class="filter-label">Labels</label>
            <select name="label" id="label" [(ngModel)]="recipe.labelerrors" class="form-control" >
                <option value="{{label}}" *ngFor="let label of labels">{{label}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-block" *ngIf="!isMember" (click)="reportMislabeling()">Report</button>
        
    </div>

    <div class="col-2" *ngIf="hasAds">
        <app-ads></app-ads>
    </div>
          
</div>
