<div class="row content-header">
    <div class="col-1"></div>
    <div class="col-11">
        <h1 class="bar-text">My Recipe</h1> 
    </div>
     
</div>

<div class="row">

    <div class="col-2 left">
        <br>
        <ul class="nav flex-column">
            <button class="nav-item left-btn">
            <a class="nav-link active" [routerLink]="['./newrecipe']">New recipe</a>
            </button>
            <button class="nav-item left-btn">
            <a class="nav-link" [routerLink]="['./history']">History</a>
            </button>
        </ul>
    </div>

    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
    
    <div class="col-2 right">
        <app-ads></app-ads>
    </div>

</div>

