<div class="row">
     <!-- Left side Ads -->
     <div class="col-2 align-center">
        <app-ads></app-ads>
    </div>

    <div class="col-8">

        <br><br>

         <!-- Filters -->
        <div class="row">

            <div class="col">
                <div ngbDropdown class="d-inline-block">
                <button class="btn filterbtn" id="dropdownBasic1" ngbDropdownToggle>Type
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Breakfast</button>
                    <button ngbDropdownItem>Lunch</button>
                    <button ngbDropdownItem>Dinner</button>
                </div>
                </div>
            </div>
            
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                <button class="btn filterbtn" id="dropdownBasic1" ngbDropdownToggle>Cuisine
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem value="{{item}}" *ngFor="let item of cuisines">{{item}}</button>
                </div>
                </div>
            </div>

            <div class="col">
                <div ngbDropdown class="d-inline-block">
                <button class="btn filterbtn" id="dropdownBasic1" ngbDropdownToggle>Feature
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem value="{{item}}" *ngFor="let item of features">{{item}}</button>
                </div>
                </div>
            </div>



            <div class="col">
                <input class="filter-input" type="search" placeholder="Recipe name"  aria-label="Search">
            </div>

            <div class="col">
                <input class="filter-input" type="search" placeholder="Budget under $" aria-label="Search">    
            </div>
    
        </div>

        <br>
        <hr>
        <br>

        <!--- Test -->
        <button (click)="getRecipesTest()">GET RECIPES</button>
        <ul>
            <li *ngFor="let item of list"> {{ item.name }}  {{ item.cost }}</li>
        </ul>
        
        

        <!-- Contents -->
        <div class="container-fluid bg-3 text-center">    
            
            <div class="row picrow">
                
                <div class="col-4" *ngFor="let item of recipes">
                    <img src="assets/images/{{item.image}}" class="img-responsive recipe-pic" alt="Image">
                    <p class="recipe-name">{{ item.name }}</p>
                </div>
  
            </div>
            
        </div>

    </div>

     <!-- Right side Ads -->
     <div class="col-2 align-center">
        <app-ads></app-ads>
    </div>
</div>

