.picrow {
    padding-left: 50px;
    padding-right: 50px;
}

.recipe-pic {
    border-radius: 5%;
    width:100%;
}

.filterbtn {
    background-color: #f6cd4cff;
    color: white;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
}

.recipe-name {
    font-size: 20px;
    font-weight: bold;
    color: rgb(228, 176, 6); 
}

.filter-input {
    font-size: 1.5rem; 
    font-weight: bold; 
    border: 3px solid #f6cd4cff;
}