<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <!-- Header -->
    <app-base></app-base>

    <!-- Filters -->
    <div class="container-fluid bg-3 text-center">
        <br>
        <div class="col-sm-2"></div>
        <div class="col-sm-1">
            <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary filterbtn" id="dropdownBasic1" ngbDropdownToggle>Type
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Breakfast</button>
                <button ngbDropdownItem>Lunch</button>
                <button ngbDropdownItem>Brunch</button>
                <button ngbDropdownItem>Dinner</button>
                <button ngbDropdownItem>Dessert</button>
            </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary filterbtn" id="dropdownBasic1" ngbDropdownToggle>Feature
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Low carb</button>
                <button ngbDropdownItem>Vegan</button>
                <button ngbDropdownItem>Kid</button>
                <button ngbDropdownItem>Easy Cook</button>
                <button ngbDropdownItem>Gluten Free</button>
            </div>
            </div>
        </div>
        <div class="col-sm-1">
            <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary filterbtn" id="dropdownBasic1" ngbDropdownToggle>Cuisine
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>American</button>
                <button ngbDropdownItem>China</button>
                <button ngbDropdownItem>India</button>
                <button ngbDropdownItem>Korean</button>
                <button ngbDropdownItem>Japanese</button>
            </div>
            </div>
        </div>

        <div class="col-sm-1">
            <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary filterbtn" id="dropdownBasic1" ngbDropdownToggle>Diet
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Breakfast</button>
                <button ngbDropdownItem>Lunch</button>
                <button ngbDropdownItem>Brunch</button>
                <button ngbDropdownItem>Dinner</button>
                <button ngbDropdownItem>Dessert</button>
            </div>
            </div>
        </div>
        <div class="col-sm-1"></div>

        <div class="col-sm-2">
            <form class="form-inline" style="padding-top: 2%;">
            <input class="form-control mr-sm-2" type="search" placeholder="Recipe name" style="font-size: 1.5rem; font-weight: bold; border: 3px solid #f58f8fff;" aria-label="Search">
            <button class="icon" style="border: 3px solid #f58f8fff; border-radius: 20%;">
                <i class="glyphicon glyphicon-search" style="font-size: 2rem; color:  #f58f8fff; font-weight: bold;"></i>
            </button>
            </form>
        </div>

        <div class="col-sm-2">
            <form class="form-inline" style="padding-top: 2%;">
            <input class="form-control mr-sm-2" type="search" placeholder="Budget under $" style="font-size: 1.5rem; font-weight: bold; border: 3px solid #f6cd4cff;" aria-label="Search">    
            <button class="icon" style="border: 3px solid #f6cd4cff; border-radius: 20%;">
                <i class="glyphicon glyphicon-search" style="font-size: 2rem; color: #f6cd4cff; font-weight: bold;"></i>
            </button>
            </form>
        </div>
        <div class="col-sm-2"></div>
    
    </div>


    <!-- Contents -->
    <div class="container-fluid bg-3 text-center">    

    <br><br>

    <!-- Left side Ads -->
    <div class="col-sm-1">
        <app-ads></app-ads>
    </div>
    
    <div class="col-sm-10">
        <div class="row picrow">
            <div class="col-sm-4">
                <img src="assets/images/recipe_1.jpg" class="img-responsive recipepic" style="width:100%" alt="Image">
                <p class="recipetitle">Supreme Steak 
                    <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                    <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                    <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                    <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                </p>
            </div>
            <div class="col-sm-4"> 
                <img src="assets/images/recipe_2.jpg" class="img-responsive recipepic" style="width:100%" alt="Image">
                <p class="recipetitle">Potato Beef Tender 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                </p>
            </div>
            <div class="col-sm-4"> 
                <img src="assets/images/recipe_5.jpg" class="img-responsive recipepic" style="width:100%" alt="Image">
                <p class="recipetitle">Avacado Gimbap 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                </p>
            </div>
        </div>

        <div class="row picrow">
            <div class="col-sm-4">
                <img src="assets/images/recipe_4.jpg" class="img-responsive recipepic" style="width:100%" alt="Image">
                <p class="recipetitle">Garden Salad 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> </p>
            </div>
            <div class="col-sm-4"> 
                <img src="assets/images/recipe_6.jpg" class="img-responsive recipepic" style="width:100%" alt="Image">
                <p class="recipetitle">Roast Salmon 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span>
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span>
                </p>
            </div>
            <div class="col-sm-4"> 
                <img src="assets/images/recipe_7.jpg" class="img-responsive recipepic" style="width:100%" alt="Image">
                <p class="recipetitle">Berry Sandwich 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span> 
                <span class="glyphicon glyphicon-heart" style="color: rgb(240, 89, 89);"></span>  
                </p>
            </div>
        </div>

    </div>

    <!-- Right side Ads -->
    <div class="col-sm-1">
        <app-ads></app-ads>
    </div>

    </div>

</body>
</html>