<!DOCTYPE html>
<html lang="en">
<head>
    <title>Base</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Header with nav bar, title, and login -->
    <div class="container-fluid row logobox">
        <div class="col-sm-2">
            <div class="container navcontainer">
                <img class="nav" src="assets/images/nav.PNG" size="16">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="container textcontainer">
                <h1 class="webname">Recipe Smart</h1>      
            </div>
        </div>
        <div class="col-sm-3">
            <div class="container logocontainer">
                <img class="logo" src="assets/images/logo.PNG" size="16">
            </div>
        </div>
        <div class="col-sm-2">
        <div class="container logincontainer">
            <button class="btn btn-outline-primary filterbtn" style="font-size: 30px; width: 200px;">Login/Join</button>
        </div>
        </div>
    </div>
</body>
</html>