<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div *ngIf= "isLoggedIn" id="logout btn" >
    <div class="col-12">
        <div class="logout-form">
            <form>
                <div class="form-group">
                    <button type="submit" class="btn btn-block" (click)="logOut()">Log out</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- *ngif = "isLoggedIn == false" -->
<div *ngIf = "!isLoggedIn" id="log in form">
    <div class="login-form">
        <form>
            <h2 class="text-center">Log in</h2>
            <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="Username" required="required"
                [(ngModel)]="auth.name" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="required"
                [(ngModel)]="auth.password" name = "password">
            </div> -->
            <br>
            <div class="form-group">
                <!-- <button type="submit" class="btn btn-block" (click)="login()">Log in</button> -->
                <a role="button" class="btn btn-block" href="/auth/google">Login with Google Creditentials</a>
                <a role="button" class="btn btn-block" href="/logout">Log Out</a>
            </div>
    
        </form>
    
        <p class="text-center"><a href="#" [routerLink]="['../sign-up']">Create an Account</a></p>
    </div>
</div>
