<div class="row">

    <div class="col-1"></div>

    <div class="col-11">

        <br>
        <h1 class="page-text">Tell us what you like :)</h1>

        <br>
        <div class="row">
      
            <div class="col-3">
                <label class="filter-label">Meal Type</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckDisabled">Breakfast</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckCheckedDisabled">Lunch</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckCheckedDisabled">Dinner</label>
                </div>
            </div>

            <div class="col-2">
                <select class="btn form-select filter-btn">
                    <option selected>Budget</option>
                    <option value="1">under $10</option>
                    <option value="2">under $20</option>
                    <option value="3">under $30</option>
                    <option value="2">under $50</option>
                    <option value="3">under $100</option>
                </select>
            </div>

            <div class="col-1"></div>

            <div class="col-2">
                <select class="btn form-select filter-btn">
                    <option selected>Group</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>

        </div>

        <br>
        <div class="row">

            <div class="col-3">
                <label class="filter-label">Food Allergy</label>
                
                <div class="row">
                    <div class="col-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckDisabled">Corn</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckCheckedDisabled">Egg</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckCheckedDisabled">Fish</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckDisabled">Meat</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckCheckedDisabled">Milk</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckCheckedDisabled">Peanut</label> 
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckCheckedDisabled">Shellfish</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckDisabled">Soy</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckCheckedDisabled">Tree Nut</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckDisabled">Wheat</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="">
                            <label class="form-check-label" for="flexCheckCheckedDisabled">FPIES</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-2">
                <label class="filter-label">Cuisines</label>
                <div>
                    <select name="cuisines[]" id="cuisines" multiple="multiple" class="form-control">
                        <option value="Chinese">Chinese</option>
                        <option value="Korean">Korean</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Indian ">Indian</option>
                    </select>
                </div>
            </div>

            <div class="col-1"></div>

            <div class="col-2">
                <label class="filter-label">Features</label>
                <div>
                    <select name="allergies[]" id="allergies" multiple="multiple" class="form-control">
                        <option value="Seafood">Seafood</option>
                        <option value="Nut">Nut</option>
                        <option value="Dairy">Dairy</option>
                        <option value="Gluten">Gluten</option>
                    </select>
                </div>
            </div>

        </div>

        
        <h1 class="page-text">Plan my meal!</h1>
        <br>
        <div class="row">
            <div class="col-2">
                <button type="submitbtn" class="btn btn-lg submit-btn" title="get recommended recipes for planning">Customized</button>
            </div>
            
            <div class="col-6">
                <h1 class="submit-text">I wanna know the details!</h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">
                <button type="submitbtn" class="btn btn-lg submit-btn" title="get planned meal directly">One-Click</button>
            </div>
            
            <div class="col-6">
                <h1 class="submit-text">I give up thinking...</h1>
            </div>
        </div>

    </div>
          
</div>