<div class="row">

    <div class="col-1"></div>

    <div class="col-11">

        <br>
        <h1 class="page-text">Tell us what you like :)</h1>
        <hr>
        <br>

        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label for="mealType" class="filter-label">Meal Type</label>
                    <select name="mealType" id="mealType" [(ngModel)]="filter.meal_type" class="form-control">
                      <option value="{{mealType}}" *ngFor="let mealType of mealTypes">{{mealType}}</option>
                    </select>
                </div>    
            </div>   
            <div class="col-2">
                <div class="form-group">
                    <label for="cuisineType" class="filter-label">Cuisine Type</label>
                    <select name="cuisineType" id="cuisineType" [(ngModel)]="filter.cuisine_type" class="form-control" >
                        <option value="{{cuisineType}}" *ngFor="let cuisineType of cuisineTypes">{{cuisineType}}</option>
                    </select>
                </div>
            </div>   
            <div class="col-2">
                <div class="form-group">
                    <label for="featureType" class="filter-label">Feature Type</label>
                    <select name="featureType" id="featureType" [(ngModel)]="filter.feature_type" class="form-control" >
                        <option value="{{featureType}}" *ngFor="let featureType of featureTypes">{{featureType}}</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="budget" class="filter-label">Budget &lt; $</label>
                    <select name="budget" id="budget" [(ngModel)]="filter.budget" class="form-control" >
                        <option value="{{budget}}" *ngFor="let budget of budgets">${{budget}}</option>
                    </select>
                </div>
            </div>   
            <div class="col-2">
                <div class="form-group">
                    <label for="groupSize" class="filter-label">Group size</label>
                    <select name="groupSize" id="groupSize" [(ngModel)]="filter.group" class="form-control" >
                        <option value="{{groupSize}}" *ngFor="let groupSize of groupSizes">{{groupSize}}</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="allergies" class="filter-label">Allergies</label>
                    <select name="allergies" id="allergies" [(ngModel)]="filter.restrictions" class="form-control" multiple="multiple">
                      <option value="{{allergy}}" *ngFor="let allergy of allergies">{{allergy}}</option>
                    </select>
                </div>    
            </div>  
        </div>

        <br>
       
        <br>
        <div class="row">
            
            <button type="submitbtn" class="btn btn-block" (click)="getRecipesForCustomized()" title="get recommended recipes for planning">Plan my meal</button>
            
            
            
        </div>
        <br><br>
        
        <div *ngIf="gotrecipes">
            <hr>
            <table class="tab table table-borderless">
                
            
                <tbody *ngFor="let item of mealplan.recipe_list; let key=index;">
                    <tr>
                        <th scope="row"><h4>{{ key + 1 }}</h4></th>
                        <td><h4>{{ item.recipe.name }}</h4></td>
                        <td>
                            
                            <img src="{{item.recipe.photo}}" class="img-responsive recipe-pic" alt="Image">
                          
                        </td>
                        <td><h4>${{item.recipe.cost}}</h4></td>
                        <td>
                            
                            <button type="button" class="btn-down sp-main count-btn btn-sm" (click)="item.quantity=item.quantity-1;mealplan.budget=mealplan.budget-item.recipe.cost">-</button>
                            <input class="text-center" max="17" min="1" value="{{item.quantity}}" [(ngModel)]="item.quantity" type="text" class="readonly-input" readonly="">
                            <button type="button" class="btn-up sp-main count-btn btn-sm" (click)="item.quantity=item.quantity+1;mealplan.budget=mealplan.budget+item.recipe.cost">+</button>
                            
                        </td>
                        
                       
                    </tr>
                </tbody>
            </table>

            <div class = "row-fluid text-center">
                <label for="name" class="subtitle-text">Total Cost</label>
            </div>
            <div class = "row-fluid text-center">
                <input type="text" name="name" id="name" class="input-container text-center" [(ngModel)]="mealplan.budget" class="readonly-input"readonly="">
            </div>
            <hr>
            <div class = "row">
                <div class="col text-center">
                <button type="submit" class="btn btn-lg submit-btn submit-center" title="confirm recipes" (click)="createMealPlan()">Confirm</button>
                </div>
            </div>
            <hr>
        </div>

        <br>
       

    </div>
          
</div>