<div class="row">

    <div class="col-1"></div>

    <div class="col-11">

        <br>
        <h1 class="page-text">Tell us what you like :)</h1>

        <br>

        <div class="row">
            <div class="col-2">
                <div class="form-group">
                    <label for="mealType" class="filter-label">Meal Type</label>
                    <select name="mealType" id="mealType" [(ngModel)]="filter.meal_type" class="form-control">
                      <option value="{{mealType}}" *ngFor="let mealType of mealTypes">{{mealType}}</option>
                    </select>
                </div>    
            </div>   
            <div class="col-2">
                <div class="form-group">
                    <label for="cuisineType" class="filter-label">Cuisine Type</label>
                    <select name="cuisineType" id="cuisineType" [(ngModel)]="filter.cuisine_type" class="form-control" >
                        <option value="{{cuisineType}}" *ngFor="let cuisineType of cuisineTypes">{{cuisineType}}</option>
                    </select>
                </div>
            </div>   
            <div class="col-2">
                <div class="form-group">
                    <label for="featureType" class="filter-label">Feature Type</label>
                    <select name="featureType" id="featureType" [(ngModel)]="filter.feature_type" class="form-control" >
                        <option value="{{featureType}}" *ngFor="let featureType of featureTypes">{{featureType}}</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="budget" class="filter-label">Budget &lt; $</label>
                    <select name="budget" id="budget" [(ngModel)]="filter.budget" class="form-control" >
                        <option value="{{budget}}" *ngFor="let budget of budgets">${{budget}}</option>
                    </select>
                </div>
            </div>   
            <div class="col-2">
                <div class="form-group">
                    <label for="groupSize" class="filter-label">Group size</label>
                    <select name="groupSize" id="groupSize" [(ngModel)]="filter.group" class="form-control" >
                        <option value="{{groupSize}}" *ngFor="let groupSize of groupSizes">{{groupSize}}</option>
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="form-group">
                    <label for="allergies" class="filter-label">Allergies</label>
                    <select name="allergies" id="allergies" [(ngModel)]="filter.restrictions" class="form-control" multiple="multiple">
                      <option value="{{allergy}}" *ngFor="let allergy of allergies">{{allergy}}</option>
                    </select>
                </div>    
            </div>  
        </div>

        <br>
       
        <h1 class="page-text">Plan my meal!</h1>
        <br>
        <div class="row">
            <div class="col-3">
                <button type="submitbtn" class="btn btn-lg submit-btn" (click)="getRecipesForCustomized()" title="get recommended recipes for planning">Customized</button>
            </div>
            
            <div class="col-2">
                <h1 class="submit-text">I wanna know the details!</h1>
            </div>
            <div class="col-2">
                <input [(ngModel)]="mealplan.budget" type="text" readonly="">
            </div>
        </div>
        <div *ngIf="gotrecipes">
            <div class = "row" *ngFor="let index of mealplan.recipe_list">
                <div class="col-3">{{index.recipe.recipe_id}}</div>
                <div class="col-3">{{index.recipe.name}}</div>
                <div class="col-3">{{index.recipe.cost}}</div>
                <div class="col-3"> 
                    <!-- <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                        <label class="form-check-label" for="inlineCheckbox1">+</label>
                    </div> -->
                    <div class="fancy-number-group fancy-number-group-sm">
                        <button type="button" class="btn-down sp-main" (click)="index.quantity=index.quantity-1;mealplan.budget=mealplan.budget-index.recipe.cost">-</button>
                        <input name="p_24253" max="17" min="1" value="{{index.quantity}}" [(ngModel)]="index.quantity" type="text" readonly="">
                        <button type="button" class="btn-up sp-main" (click)="index.quantity=index.quantity+1;mealplan.budget=mealplan.budget+index.recipe.cost">+</button>
                    </div>
                </div>
            </div>
            <div class = "row">
                <button type="submitbtn" class="btn btn-lg submit-btn" title="confirm recipes" (click)="createMealPlan()">Confirm</button>
            </div>
        </div>

        <br>
       

    </div>
          
</div>