.page-text {
    padding-top: 20px;
    font-size: 50px;
    color: #f58f8fff;
    font-weight: bold;
    font-family: cursive;
}

.subtitle-text {
    padding-top: 20px;
    font-size: 30px;
    color: #f58f8fff;
    font-weight: bold;
    font-family: cursive;
    margin-bottom:  20px;
}

.filter-btn {
    font-size: 20px;
    font-weight: bold;
    background-color: #f6cd4cff; 
    color: white;
}

.filter-label {
    font-size: 20px;
    font-weight: bold;
    background-color: #f6cd4cff; 
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.form-check-label{
    font-size: 16px;
}

.submit-btn {
    font-size: 20px;
    font-weight: bold;
    background-color: #f58f8fff; 
    border: 1px solid #f58f8fff;
    color: white;
}

.submit-text{
    font-family: cursive;
    font-size: 30px;
    color: #f58f8fff;
    font-weight: bold;
    padding-left: 20px;
}

.btn-block{
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(238, 182, 182); 
    color: white;
}

.pic-row {
    min-height: 400px;
    text-align:center;
    background-color: rgb(226, 222, 222);
    margin-left: 10%;
    margin-right: 10%;
}

.pic-holder {
    height: 400px;
}

.submit-center {
    display: block;
    margin: 0 auto;
    width:200px;
}

.alert-label {
    font-size: 20px;
    font-weight: bold;
    color: rgb(226, 83, 83);
    border: 2px dashed rgb(226, 83, 83);
    border-radius: 5%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    text-align: center;
}

.warning {
    width: 94%;
}