<div class="row header-container">

    <div class="col-2 align-center">
        <div ngbDropdown>
            <i class="btn btn-outline-primary" id="nav-icon" ngbDropdownToggle></i>
            <div ngbDropdownMenu aria-labelledby="navigation" class="option-container">
                <button ngbDropdownItem class="option-font">
                    <a class="nav-link active" [routerLink]="['./user-profile']">My Profile</a>
                </button>
                <!-- <a class="nav-link active" [routerLink]="['./newplan']">New plan</a> -->
                <div class="dropdown-divider option-divider"></div>
                <button ngbDropdownItem class="option-font">My Recipe</button>
                <div class="dropdown-divider option-divider"></div>
                <button ngbDropdownItem class="option-font">Meal Planner</button>
            </div>
        </div>
    </div>

    <div class="col-1 align-center"></div>

    <div class="col-4 align-center">
        <h1 class="header-title">Recipe Smart</h1>
    </div>

    <div class="col-2 align-center">
        <img class="logo" src="assets/images/logo.PNG">
    </div>

    <div class="col-1 align-center"></div>

    <div class="col-2 align-center">
        <button class="btn login-btn" >Login/Join</button>
    </div>

</div>