<div class="row content-header">
  <div class="col-1"></div>
  <div class="col-11">
      <h1 class="bar-text">My Profile</h1> 
  </div>
</div>

<div class="main-content">

  <br>
    <div class="">
      <div class="row">
        
        <div class="col-1"></div>
        <div class="col-3">
          <div class="card card-profile shadow">
            <br><br><br>
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">  
                    <img src="../../../assets/images/pikachu.png" class="rounded-circle">
                </div>
              </div>
            </div>

            <div class="card-body">
              <br>
              <br>
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">22</span>
                      <span class="description">Recipes</span>
                    </div>
                    <div>
                      <span class="heading">88</span>
                      <span class="description">Likes</span>
                    </div>
                    <div>
                      <span class="heading">8</span>
                      <span class="description">Points</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>Pika Qiu</h3> 
              </div>
              <br>
              <div class="text-center">
                <div class="h5 font-weight-300">
                  <a href="#" class="btn btn-sm btn-info mr-4">Popular</a>
                  <a href="#" class="btn btn-sm btn-primary mr-4">Recipe Master</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Basic Information</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="PikaPika">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-password">Password</label>
                        <input type="email" id="input-password" class="form-control form-control-alternative" placeholder="Password123">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="First name" value="Pika">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Last name" value="Qiu">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Edit -->
                <div class="pl-lg-4">
                  <button class="btn edit-btn">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
